<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.gather.entity.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.gather.entity.TeamDTO" alias="TeamDTO"/>
		<typeAlias type="com.gather.entity.DesignDTO" alias="DesignDTO"/>
		<typeAlias type="com.gather.entity.WorkDTO" alias="WorkDTO"/>
	</typeAliases>
	<!-- 쿼리문 -->
	<mappers>
		<mapper resource="mybatis/gather-mapping.xml"/>
	</mappers>
</configuration>