<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.gather.entity.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.gather.entity.TeamDTO" alias="TeamDTO"/>
		<typeAlias type="com.gather.entity.DesignDTO" alias="DesignDTO"/>
		<typeAlias type="com.gather.entity.DesignDTOR" alias="DesignDTOR"/>
		<typeAlias type="com.gather.entity.WorkDTO" alias="WorkDTO"/>
		<typeAlias type="com.gather.entity.WorkDTOR" alias="WorkDTOR"/>
		<typeAlias type="com.gather.entity.CallingDTO" alias="CallingDTO"/>
	</typeAliases>
	
	
	
	
	<!-- 쿼리문 -->
	<mappers>
		<mapper resource="mybatis/gather-mapping.xml"/>
		<mapper resource="mybatis/team-mapping.xml"/>	<!-- 성찬은 두개  -->
		<mapper resource="mybatis/member-mapping.xml"/>  <!-- 동재꺼 -->
		<mapper resource="mybatis/work-mapping.xml"/>  <!-- work -->
		<mapper resource="mybatis/design-mapping.xml"/>  <!-- design -->
	</mappers>
	
	
</configuration>