<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.gather.entity.MemberDTO" alias="MemberDTO"/>  <!-- 안되면 alias="ob" -->
		<typeAlias type="com.gather.entity.TeamDTO" alias="TeamDTO"/>
		<typeAlias type="com.gather.entity.DesignDTO" alias="DesignDTO"/>
		<typeAlias type="com.gather.entity.WorkDTO" alias="WorkDTO"/>
	</typeAliases>
	<!-- 쿼리문 -->
	<mappers>
		<mapper resource="mybatis/gather-mapping.xml"/>
		<mapper resource="mybatis/member-mapping.xml"/>  <!-- 동재꺼 -->
		<mapper resource="mybatis/Login-mapping.xml"/>   <!-- 경동꺼 -->
	</mappers>
	
	
</configuration>